<header class="toolbar">
  <span class="toolbar-title">BANCO</span>
</header>

<div class="layout">
  <aside class="sidenav">
    <nav class="nav-list">
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Clientes</a>
      <a routerLink="cuentas" routerLinkActive="active">Cuentas</a>
      <a routerLink="/movimientos" routerLinkActive="active">Movimientos</a>
      <a routerLink="/reportes" routerLinkActive="active">Reportes</a>
    </nav>
  </aside>

  <main class="main-content">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>